.balance{
    width: 22rem;
    height: 22rem;
    background-color: rgb(255, 255, 255);
    margin-left: 19rem;
    margin-top: 8rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.balance-title{
    display: flex;
    justify-content: start;
    padding: 1rem;
    padding-bottom: .1rem;
}

.balance-balance{
    display: flex;
    justify-content: start;
    margin-left: 1rem;
}